<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading()" class="spinner-wrapper">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list *ngIf="!isLoading() && pokemons().length > 0">
    <ion-item *ngFor="let pokemon of pokemons()" (click)="goToDetails(pokemon)" button>
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" slot="start" class="thumb" />
      <ion-label class="pokemon-name">{{ pokemon.name }}</ion-label>
      <ion-icon name="heart" slot="end" (click)="removeFavorite(pokemon, $event)"></ion-icon>
    </ion-item>
  </ion-list>

  <div *ngIf="!isLoading() && pokemons().length === 0" class="empty-state">
    <p>Você ainda não tem favoritos.</p>
  </div>
</ion-content>